<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>URL shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="padding:20px">
	<h1>URL Shortener</h1>
    <form action="#" th:action="@{/url}" th:object="${url}" method="post">
        <div style ="font: 30">
        <p>URL: <input type="text" style=" width: 70%" th:field="*{content}" /></p>
        </div>
        <p>
            <input type="submit" value="Submit" class="btn btn-info btn-lg"/>
        </p>
    </form>
    </div>
</body>
</html>
